[id^="checkbox"]:checked ~ [class^="label-ban"] {
  background-color: #ea284b;
  color: black;
}
[id^="checkbox-pick"]:checked ~ [class^="label-pick"] {
  background-color: #2865ea;
  color: black;
}
[id^="checkbox"]:checked ~ .hero-counter {
  filter: saturate(0);
  z-index: 1000;
}
[id^="checkbox"]:checked ~ .hero-counter1 {
  dropshadow: 0 0 5px rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
