.container,
.container-pick {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 275px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 400px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 520px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 650px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 765px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 888px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1012px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1137px) {
  .container,
  .container-pick {
    grid-template-columns: repeat(9, 1fr);
  }
}
